@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}

<div class="login-container">
    <div class="modal-content">
        <h2>Welcome back!</h2>
        <h5>Lost something? Find it with us.</h5>

        <form method="post" action="/Auth/Login">

            <div class="input-group">
                <label for="inputLogin">Login</label>
                <input type="text" id="inputLogin" name="Login" maxlength="100">
            </div>

            <div class="input-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="Password">
            </div>

            <button type="submit" id="SingInButton" class="sing-button">Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/login.js" asp-append-version="true"></script>
}
