<!DOCTYPE html>
<html lang="en">
<head>
    <title>SuperAdmin</title>
    <link rel="stylesheet" href="\css\common.css">
</head>
<body>
    <div class="search-container">
        <input type="text"
               id="searchInput"
               class="search-input"
               onkeypress="handleSearchKeypress(event)">
        <button onclick="searchUsers()" class="search-button">
            Search
        </button>
        <button onclick="openModal()" class="item-button">
            Add user
        </button>
    </div>

    <div id="usersContainer" class="users-list">
        <p class="no-users">Loading users...</p>
    </div>

    <div id="itemModal" class="modal">
        <div class="modal-content">
            <form id="itemForm" method="post" asp-controller="Users" asp-action="CreateUser">
                <input type="text" id="Login" name="Login" placeholder="Login" required>
                <input type="text" id="FullName" name="FullName" placeholder="Full name" required>
                <input type="password" id="Password" name="Password" placeholder="Password" required>
                <select id="Role" name="Role" required>
                    <option value="" disabled selected>Role</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>

                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <script src="\js\superAdmin.js"></script>
</body>
</html>