@{
    ViewData["Title"] = "Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
}

<div class="dashboard-container">
    <h2>Страница юзера</h2>
</div>

@section Scripts {
    <script src="~/js/user.js" asp-append-version="true"></script>
}
