html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Arial", sans-serif; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
}

.modal-content {
    background-color: white;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
    
}

h5 {
    margin-bottom: 20px;
    margin-top: 15px;
    color: #000000;
    font-weight: normal;
    text-align: left;
}

.input-group {
    padding: 3px 1px;
    margin-bottom: 10px;
    text-align: left;
}

.sing-button {
    background-color: #496ad5;
    color: white;
    padding: 12px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0 10px; 
    width: 100%; 
    transition: background-color 0.3s;
}

.sing-button:hover {
    background-color: #1a2753;
}

/* стили для лейблов */

.input-group {
    margin-bottom: 20px; 
    text-align: left;
}

label {
    display: block; /* делает label на отдельной строке */
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

input[type="text"],
input[type="password"] { 
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #496ad5;
    outline: none;
}